PORT=8080
JWT_SECRET=zmien-mnie-na-dluzszy-sekret
CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:8080

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/google/callback

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=http://localhost:8080/auth/github/callback
